.whatsapp-button {
  position: fixed;
  bottom: 60px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: transform 0.3s ease;

  img {
    width: 50px;
  }
}

@media (min-width: 768px) {
  .whatsapp-button {
    right: 80px;
    margin-bottom: 40px;
    img {
      width: 80px;
    }
  }
}
